<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User info</title>
    <meta charset="UTF-8">

<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>

<script type="text/javascript" th:src="@{/webjars/jquery/3.4.0/jquery.js}"></script>
<!--  <script type="text/javascript" th:src="@{/js/user/user.js}"></script>
-->
<!-- <script src="../js/user/user.js"></script>
 -->

</head>
<body>
  <div class="container">
  <h1>用户信息</h1>
   
    <div class="row"><div class="col-md-6">
      <label for="user_name" class="col-sm-6 control-label">name</label>
      <input type="text" class="form-control col-md-8" id="userName" name="userName" th:value="${user.userName}" />
    </div></div>
    <div class="row"><div class="col-md-6"> 
      <label for="mobilePhone" class="col-sm-6 control-label">mobilePhone</label>
      <input type="text" class="form-control col-md-8" id="mobilePhone" name="mobilePhone" th:value="${user.mobilePhone}" />
    </div></div>
    <div class="row"><div class="col-md-6">
      <label for="email" class="col-sm-6 control-label">email</label>
      <input type="email" class="form-control col-md-12" id="email" name="email" th:value="${user.email}" />
    </div></div>
    <div class="row"><div class="col-md-6">
      <label for="birthday" class="col-sm-6 control-label">birthday</label>
      <input type="date" class="form-control col-md-8" id="birthday" name="birthday" th:value="${#dates.format(user.birthday,'yyyy-MM-dd')}" />
    </div></div>

  </div>
  
</body>
</html>